.container > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 20px;
}

.color > p {
    width: max-content;
    border-bottom: 2px solid #eaeaea;
}

.color .background {
    width: 100%;
    height: 100px;
}

.color .info p {
    margin: 5px 0px;
}

.color {
    position: relative;
}

.color button {
    position: absolute;
    padding: 0;
    top: 30px;
    right: 0px;
    display: none;
    background: none;
    border: none;
}

.color:hover button {
    display: block;
}

.add {
    height: 100px;
    margin-top: 53px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add button {
    background: none;
    border: none;
}